@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.option-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

input {
  margin: 0.5rem 0;
}

h1 {
  font-weight: 600;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
